body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
}

code,
kbd,
samp,
pre {
  font-family: Menlo, Monaco, Consolas, "PingFang SC", "Microsoft YaHei", monospace !important;
}

*::selection {
  background: #b9d4b1;
  color: #183c25;
  text-shadow: none;
}

*::-moz-selection {
  background: #b9d4b1;
  color: #183c25;
  text-shadow: none;
}
